
# üìò‚ú® Python List Mastery Practice Notebook ‚ú®üìò

Welcome to your **Ultimate Python List Practice** notebook!  
This notebook covers all essential and advanced list functions ‚Äî designed to **test and grow your real understanding**.

üß† **Tip:** No function names are given in questions so you can figure out the best solution yourself!

‚úçÔ∏è Write your answers in the provided code cells.  
üîç Need a hint or solution key? Just ask!

---

### ‚ùì Question 1
> Create an empty list and add five integers to it one by one.

In [1]:
# ‚úçÔ∏è Your answer here:
L = []
for a in [1,2,3,4,5]:
    L.append(a)
    
print(L)

[1, 2, 3, 4, 5]

### ‚ùì Question 2
> Add multiple elements `[10, 20, 30]` to an existing list in a single operation.

In [2]:
# ‚úçÔ∏è Your answer here:
L.extend([10,20,30])
print(L)

[1, 2, 3, 4, 5, 10, 20, 30]

### ‚ùì Question 3
> Insert the string `'Python'` at index 2 of the list `['Java', 'C++', 'Go', 'Rust']`.

In [3]:
# ‚úçÔ∏è Your answer here:
L = ['Java', 'C++', 'Go', 'Rust']
L.insert(2,"Python")
print(L)

['Java', 'C++', 'Python', 'Go', 'Rust']

### ‚ùì Question 4
> From `[5, 3, 9, 3, 7]`, delete the first `3` that appears.

In [4]:
# ‚úçÔ∏è Your answer here:
l = [5,3,9,3,7]
l.remove(3)
print(l)

[5, 9, 3, 7]

### ‚ùì Question 5
> Remove and return the last item from a list of your choice.

In [5]:
# ‚úçÔ∏è Your answer here:
l.pop()

7

### ‚ùì Question 6
> Remove the value at index 2 from `[10, 20, 30, 40, 50]`.

In [6]:
# ‚úçÔ∏è Your answer here:
l = [10,20,30,40,50]
l.pop(2) # or del l[2]
print(l)

[10, 20, 40, 50]

### ‚ùì Question 7
> Delete all items from a list, making it completely empty.

In [7]:
# ‚úçÔ∏è Your answer here:
l.clear()

### ‚ùì Question 8
> Create a list of 10 elements and find the number of elements in it.

In [8]:
# ‚úçÔ∏è Your answer here:
l = [1,2,3,4,5,6,7,8,9,10]
len(l)

10

### ‚ùì Question 9
> In the list `[4, 6, 7, 4, 3, 4]`, find how many times `4` occurs.

In [9]:
# ‚úçÔ∏è Your answer here:
l = [4,6,7,4,3,4]
l.count(4)

3

### ‚ùì Question 10
> Find the position of `'apple'` in `['banana', 'apple', 'cherry', 'apple']`.

In [10]:
# ‚úçÔ∏è Your answer here:
fruits = ["banana","apple","cherry","apple"]
fruits.index("apple",2)

3

### ‚ùì Question 11
> Check if `'mango'` is present in `['apple', 'orange', 'grape']`.

In [11]:
# ‚úçÔ∏è Your answer here:
"mango" in ["apple","orange","grape"]

False

### ‚ùì Question 12
> Sort a list of numbers in ascending order.

In [12]:
# ‚úçÔ∏è Your answer here:
l.sort()
l

[3, 4, 4, 4, 6, 7]

### ‚ùì Question 13
> Sort the same list in descending order.

In [13]:
# ‚úçÔ∏è Your answer here:
l.sort(reverse=True)
l

[7, 6, 4, 4, 4, 3]

### ‚ùì Question 14
> Sort `[11, 3, 24, 6]` without changing the original list.

In [14]:
# ‚úçÔ∏è Your answer here:
l = [11,3,24,6]
l2 = sorted(l)

### ‚ùì Question 15
> Reverse the list `[1, 2, 3, 4, 5]`.

In [15]:
# ‚úçÔ∏è Your answer here:
l = [1,2,3,4,5]
l.reverse()
l

[5, 4, 3, 2, 1]

### ‚ùì Question 16
> Find the smallest and largest values in `[12, 33, 4, 55, 21]`.

In [16]:
# ‚úçÔ∏è Your answer here:
print(min(l))
print(max(l))

1
5

### ‚ùì Question 17
> Compute the average of `[5, 10, 15, 20]`.

In [17]:
# ‚úçÔ∏è Your answer here:
l = [5,10,15,20]
import numpy as np
np.mean(l)

12.5

### ‚ùì Question 18
> Find the middle value of `[2, 4, 6, 8, 10]`.

In [18]:
# ‚úçÔ∏è Your answer here:
np.median(l)

12.5

### ‚ùì Question 19
> Find the most frequent value in `[1, 2, 3, 2, 4, 2, 5]`.

In [19]:
import setuptools
print(setuptools.__version__)

75.1.0

In [23]:
! pip install collection

Collecting collection
  Downloading collection-0.1.6.tar.gz (5.0 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: collection
  Building wheel for collection (setup.py): started
  Building wheel for collection (setup.py): finished with status 'done'
  Created wheel for collection: filename=collection-0.1.6-py3-none-any.whl size=5111 sha256=872ebabedd98c166ccafec288fa4611db5c7260508b0eeb53218d7820e6693ba
  Stored in directory: c:\users\nagesh agrawal\appdata\local\pip\cache\wheels\12\bb\2e\e430efbb8e7a845a40292527c78c51d201db424b763ae2ccdb
Successfully built collection
Installing collected packages: collection
Successfully installed collection-0.1.6

In [26]:
# ‚úçÔ∏è Your answer here:
l = [1,2,3,2,4,2,5]
import statistics 
print(statistics.mode(l))

from collections import Counter

print(Counter(l))

2
Counter({2: 3, 1: 1, 3: 1, 4: 1, 5: 1})

### ‚ùì Question 20
> Find the standard deviation of `[5, 10, 15, 20, 25]`.

In [27]:
# ‚úçÔ∏è Your answer here:
np.std([5,10,15,20,25])

7.0710678118654755

### ‚ùì Question 21
> Copy a list and prove that changing the new list doesn't affect the original.

In [ ]:
# ‚úçÔ∏è Your answer here:

### ‚ùì Question 22
> Create a 2D list and access the middle element.

In [ ]:
# ‚úçÔ∏è Your answer here:

### ‚ùì Question 23
> Convert `['apple', 'banana', 'mango']` to uppercase.

In [ ]:
# ‚úçÔ∏è Your answer here:

### ‚ùì Question 24
> Create a new list of only even numbers from `[1, 2, 3, 4, 5, 6]`.

In [ ]:
# ‚úçÔ∏è Your answer here:

### ‚ùì Question 25
> Double every number in `[1, 2, 3, 4]` using a single-line expression.

In [ ]:
# ‚úçÔ∏è Your answer here:

### ‚ùì Question 26
> Extract the last 3 elements from `[10, 20, 30, 40, 50, 60]`.

In [ ]:
# ‚úçÔ∏è Your answer here:

### ‚ùì Question 27
> Get every second element from `[10, 20, 30, 40, 50, 60]`.

In [ ]:
# ‚úçÔ∏è Your answer here:

### ‚ùì Question 28
> Reverse `[10, 20, 30, 40, 50, 60]` using slicing.

In [ ]:
# ‚úçÔ∏è Your answer here:

### ‚ùì Question 29
> Combine `['a', 'b', 'c']` and `[1, 2, 3]` into a list of pairs.

In [ ]:
# ‚úçÔ∏è Your answer here:

### ‚ùì Question 30
> Print index with value from `['x', 'y', 'z']`.

In [ ]:
# ‚úçÔ∏è Your answer here:

### ‚ùì Question 31
> Increase every value in `[2, 4, 6]` by 10 using a built-in function.

In [ ]:
# ‚úçÔ∏è Your answer here:

### ‚ùì Question 32
> Convert the string `'Learn Python Fast'` into a list of words.

In [ ]:
# ‚úçÔ∏è Your answer here:

### ‚ùì Question 33
> Turn `['Data', 'Science', 'is', 'fun']` into a single sentence.

In [ ]:
# ‚úçÔ∏è Your answer here:

### ‚ùì Question 34
> Remove duplicates from `[1, 2, 2, 3, 3, 3, 4]` without using `set()`.

In [ ]:
# ‚úçÔ∏è Your answer here:

### ‚ùì Question 35
> Flatten `[[1, 2], [3, 4], [5, 6]]` into a 1D list.

In [ ]:
# ‚úçÔ∏è Your answer here:

### ‚ùì Question 36
> Rotate `[1, 2, 3, 4, 5]` three positions to the right.

In [ ]:
# ‚úçÔ∏è Your answer here:

### ‚ùì Question 37
> Generate a new list with squares of values > 15 from `[10, 20, 30, 40]`.

In [ ]:
# ‚úçÔ∏è Your answer here:

### ‚ùì Question 38
> Make a list of tuples from two lists where elements have the same index and are even.

In [ ]:
# ‚úçÔ∏è Your answer here:

### ‚ùì Question 39
> Return True if all elements in a list are positive.

In [ ]:
# ‚úçÔ∏è Your answer here:

### ‚ùì Question 40
> Return True if at least one number in the list is a multiple of 5.

In [ ]:
# ‚úçÔ∏è Your answer here: