# ‚ûø‚ôæÔ∏è FOR LOOP FUNCTION

### üîÅ‚ú® **Definition of a `for` Loop in Python** ‚ú®üîÅ

üìù **A for loop in Python is used to iterate over a sequence (like a list, tuple, or string) and execute a block of code multiple times, once for each item in the sequence.**

---

#### üí° **What It Does:**

It lets you **loop through** sequences like:

* Lists üçΩÔ∏è
* Tuples üîó
* Strings üß©

And it does the work **for you** ‚Äî running your code once for **each item**! üöÄ

---

### üîë **Syntax Magic:**

```python
for item in sequence:
    # Execute the code for each item!
```

---

### üéØ **Example:**

```python
for number in [1, 2, 3, 4]:
    print(number)
```

This will print:
`1`,
`2`,
`3`,
`4`

---

##### VERTICALLY PRINTING(SR.NO) IN COLUMN.

In [1]:
for a in range(1,5):
    print("SR.NO")

SR.NO
SR.NO
SR.NO
SR.NO

In [16]:
# PRINTING SINGLE LETTER ONE BY ONE:
for a in "ujwal":
    print(a)

u
j
w
a
l

##### HORIZONTALLY PRINTING(YES) IN ROW

In [6]:
for a in range(1,5):
    print("YES",end=" ")

YES YES YES YES

##### PRINT ODD NUMBER WITHIN RANGE

In [9]:
for a in range(1,11,2):
    print(a)

1
3
5
7
9

##### PRINT EVEN NUMBER WITHIN RANGE:

In [10]:
for a in range(2,11,2):
    print(a)

2
4
6
8
10

In [18]:
# MUTIPLE TEXT:
text="ujwal "
text*3

'ujwal ujwal ujwal '

In [20]:
# WITH RANGE OF MULTIPLIER:
TEXT="UJWAL"
for a in range(1,5):
    print(TEXT*a)

UJWAL
UJWALUJWAL
UJWALUJWALUJWAL
UJWALUJWALUJWALUJWAL

In [13]:
# reserve:
for a in range(10,2,-2):# last digit is not visible
    print(a)

10
8
6
4

##### BREAK

### üîö **Use of `break` in a `for` Loop (Python)**

The `break` statement is used to **stop a loop early** when a specific condition is met. üö®

---

### ‚úÖ **Why use `break`?**

* To **exit the loop** immediately.
* To **save time** when you've found what you need.

In [15]:
for a in range(1,5):
    if a==3:
        print("same")
        break
    else:
        print(a)

1
2
same

##### FOR LOOP IN LIST COMPREHENSION

In [21]:
# NORMAL FOR LOOP :
numbers = [1, 2, 3, 4]
squares = []

for num in numbers:
    squares.append(num ** 2)

print(squares)  # Output: [1, 4, 9, 16]

[1, 4, 9, 16]

In [23]:
# SAME USING LIST COMPREHENSION:
num_list=[1,2,3,4,5,6]
SQUARES=[x**2 for x in num_list]
print(SQUARES)

[1, 4, 9, 16, 25, 36]

In [25]:
# WITH CONDITION : FIND EVEN NUMBER SQUARES ONLY
EVEN_SQUARE=[x**2 for x in num_list if x%2==0]
EVEN_SQUARE

[4, 16, 36]

##### IN NESTED FOR LOOP

In [26]:
# NORMAL NESTED FOR LOOP:
pairs = []
for x in [1, 2, 3]:
    for y in ['a', 'b']:
        pairs.append((x, y))

print(pairs)

[(1, 'a'), (1, 'b'), (2, 'a'), (2, 'b'), (3, 'a'), (3, 'b')]

In [29]:
# SAME IN LIST COMPREHENSION:
PAIRS=[(x,y) for x in [1,2,3] for y in ["a","b"]]
PAIRS

[(1, 'a'), (1, 'b'), (2, 'a'), (2, 'b'), (3, 'a'), (3, 'b')]

##### IF ELSE STAETMENT

In [30]:
# if else statement NORMAL FOR LOOP:
labels = []

for x in range(5):
    if x % 2 == 0:
        labels.append('even')
    else:
        labels.append('odd')

print(labels)

['even', 'odd', 'even', 'odd', 'even']

In [32]:
LABELS=["even" if 2%a==0 else "odd" for a in range(1,5)]
LABELS

['even', 'even', 'odd', 'odd']

##### FLATTEN 2D ARRAY

In [35]:
# FLATTEN A 2D LIST :
matrix = [[1, 2], [3, 4], [5, 6]]
FLATTEN_LIST=[num  for row in matrix for num in row]
FLATTEN_LIST

[1, 2, 3, 4, 5, 6]

##### WITH FUNCTION

In [36]:
def square(n):
    return n * n

results = [square(x) for x in range(5)]
print(results)  # [0, 1, 4, 9, 16]

[0, 1, 4, 9, 16]

In [ ]:
def FIX_DATE(date_str):
    from datetime import datetime
    try:
        # If format is 'yyyy-mm-dd', convert to 'dd-mm-yyyy'
        d1 = datetime.strptime(date_str, '%Y-%m-%d')
        return d1.strftime('%d-%m-%Y')
    except:
        try:
            # If already 'dd-mm-yyyy', keep it
            datetime.strptime(date_str, '%d-%m-%Y')
            return date_str
        except:
            return 'Invalid'