# FACTORIAL OF NUMBER

In [12]:
def FACTORIAL(NUM):
    if NUM==1:
        return 1
    return NUM*FACTORIAL(NUM-1)# RECURSIVVE CALL

In [13]:
FACTORIAL(5)

120

# LIST OF  FACTORIAL OF NUMBER

In [19]:
def FACTORIAL_LIST(NUM):
    if NUM == 1:
        return [1]  # Start with 1 as the first factorial
    result = FACTORIAL_LIST(NUM - 1)
    result.append(NUM * result[-1])  # Append the next factorial value
    return result

In [20]:
FACTORIAL_LIST(5)

[1, 2, 6, 24, 120]

# FIBONACCI SEQUENCE:

In [8]:
def fibonacci(n):
    fib=[0,1]
    for a in range(2,n):
      fib.append(fib[-1]+fib[-2])
    return fib

In [9]:
fibonacci(5)

[0, 1, 1, 2, 3]

# CHECK IF THE NUMBER IS PRIME

In [23]:
def CHECK_PRIME(a):
    if a<=1:
        return "its not a prime number"
    else :
        for b in range(2,a):
            if a%b==0:
                return "it is not a prime"
        else:
            return "it is a prime number"

In [25]:
CHECK_PRIME(4)

'it is not a prime'

# REVERSE STRING

In [29]:
def REVERSE_TEXT(TEXT):
    return TEXT[::-1]

In [32]:
REVERSE_TEXT("ujwal")

'lawju'

In [33]:
def REVERSE_TEXT2(TEXT):
    return "".join(reversed(TEXT))

In [34]:
REVERSE_TEXT2("UJWAL")

'LAWJU'

# PALINDROME CHECK

In [37]:
def CHECK_PALINDROME(TEXT):
    return TEXT==TEXT[::-1]

In [38]:
CHECK_PALINDROME("NITIN")

True

# FIND MAX IN LIST

In [39]:
def MAX_INLIST(LIST):
    return max(LIST)

In [41]:
LIST=[1,2,3,4,5]
MAX_INLIST(LIST)

5

In [42]:
def MAX_INLIST2(LIST):
    max_value= LIST[0]
    for a in LIST:
        if a > max_value:
            max_value=a
    return max_value

In [43]:
MAX_INLIST2(LIST)

5

# COUNT VOWELS IN A STRING:

In [55]:
def COUNT_VOWELS(TEXT):
    vowels="aeiouAEIOU"
    from collections import Counter
    found=[char for char in TEXT if char in vowels]
    print(f"founded vowels in a text = {found}")
    print(f"distint count of founded vowels in a text = {Counter(found)}")
    return len(found)

In [56]:
TEXT="I AM NAGESH AND I AM 21 YEARS OLD."
COUNT_VOWELS(TEXT)

founded vowels in a text = ['I', 'A', 'A', 'E', 'A', 'I', 'A', 'E', 'A', 'O']
distint count of founded vowels in a text = Counter({'A': 5, 'I': 2, 'E': 2, 'O': 1})

10

# REMOVE DUPLICATES FROM LIST.

In [58]:
def REMOVE_DUPLICATES(LIST):
    return list(set(LIST))

In [60]:
LIST=[1,2,3,4,5,5,5,5]
REMOVE_DUPLICATES(LIST)

[1, 2, 3, 4, 5]

# COUNT THE WORDS IN A STRING

In [70]:
def WORD_COUNTER(TEXT):
    LIST=list(TEXT.split())
    return len(LIST)

In [71]:
WORD_COUNTER(TEXT)

9

# WORD COUNT 2

In [72]:
def WORD_COUNTER2(TEXT):
    return TEXT.count(" ")+1

In [74]:
WORD_COUNTER2(TEXT)

9

# WORD COUNT 3

In [86]:
def WORD_COUNTER3(TEXT):
    from nltk.tokenize import word_tokenize
    import re
    import string
    TEXT=re.sub(r"\d+","",TEXT)
    TEXT=re.sub(r"\s+"," ",TEXT.strip())
    TEXT=TEXT.translate(str.maketrans("","",string.punctuation))
    TEXT=word_tokenize(TEXT)
    return len(TEXT)

In [84]:
TEXT

'I AM NAGESH AND I AM 21 YEARS OLD.'

In [87]:
WORD_COUNTER3(TEXT)

8

# LONGEST WORD IN A TEXT:

In [101]:
def LONGEST_WORD(TEXT):
    LIST=list(TEXT.split())
    LONGEST_WORD=""
    for word in LIST:
        if len(word) > len(LONGEST_WORD):
            LONGEST_WORD=word
    return LONGEST_WORD

In [102]:
LONGEST_WORD(TEXT)

'NAGESH'

# SEPERATE EVEN AND ODD NUMBER FROM THE LIST OF NUMBERS

In [111]:
def EVEN_ODD_SEPARATOR(LIST):
    if any(type(num)not in [int,float] for num in LIST):
        return "non numeric list"
    
    even= [num for num in LIST if num%2==0]
    odd=[num for num in LIST if num%2!=0]
    
    return f"even{even},odd{odd}"

In [115]:
LIST=[1,2,3,4,5,6,7,8,9,10]
EVEN_ODD_SEPARATOR(LIST)

'even[2, 4, 6, 8, 10],odd[1, 3, 5, 7, 9]'

# CHECK ANAGRAM

In [118]:
def CHECK_ANAGRAM(TEXT1,TEXT2):
    if len(TEXT1)==len(TEXT2):
        result= 1
    else :
        result= 0
    
    if result==1:
        if sorted(TEXT1)==sorted(TEXT2):
            return "both string are matched"
    else:
        return "they are not matched"

In [121]:
TEXT1="i am ujwal"
TEXT2="i am ujwal"
CHECK_ANAGRAM(TEXT1,TEXT2)

'both string are matched'

# greeting function

In [7]:
def greet(name:str):
    print(f"hello {name} !")

greet("nagesh")

hello nagesh !