# **❤️PYTHON CODE AND BUILT IN FUNCTIONS❤️**

# BASIC CODE

In [139]:
"UJWAL AGRAWAL"

'UJWAL AGRAWAL'

In [140]:
"UJWAL , AGRAWAL"

'UJWAL , AGRAWAL'

In [141]:
A="UJWAL , AGRAWAL"
type(A)

str

In [142]:
"UJWAL","AGRAWAL"

('UJWAL', 'AGRAWAL')

In [143]:
B="UJWAL","AGRAWAL"
type(B)

tuple

In [144]:
123

123

In [145]:
C=123
type(C)

int

In [146]:
12.3

12.3

In [147]:
D=12.3
type(D)

float

# PRINT FUNCTION

In [148]:
try:
    print("Ujwal Agrawal")
except Exception as e:
    print("Error:", e)

try:
    print("123")
except Exception as e:
    print("Error:", e)

try:
    print(123)
except Exception as e:
    print("Error:", e)

try:
    print(ujwal)  # This will raise a NameError
except Exception as e:
    print("Error:", e)

try:
    print(2 + 2)
except Exception as e:
    print("Error:", e)

try:
    print("Ujwal", "Agrawal")
except Exception as e:
    print("Error:", e)

try:
    print("ujwal", "Agrawal", sep=",")
except Exception as e:
    print("Error:", e)

Ujwal Agrawal
123
123
Error: name 'ujwal' is not defined
4
Ujwal Agrawal
ujwal,Agrawal

# CREATING VARIABLE

In [149]:
NAME="UJWAL AGRAWAL   "
AGE=21
PERCENTAGE=99.9
BOOLEAN=True
L=[1,2,3,4,5,6,7,8,9,10]
T=(1,2,3,4,5,6,7,8,9,10)
D={
"A":[1,2,3,4,5,6,7,8,9,10],
"B":(1,2,3,4,5,6,7,8,9,10),
"D":{
    "A":"APPLE",
    "B":"BALL"
    }
}
S={1,2,3,4,5,6,6,6,6}


import numpy as np
ARR= np.array([10, 20, 30, 40])

# TYPE FUNCTION

In [150]:
print(type(NAME))
print(type(AGE))
print(type(PERCENTAGE))
print(type(BOOLEAN))
print(type(L))
print(type(T))
print(type(D))
print(type(S))
print(type(ARR))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'set'>
<class 'numpy.ndarray'>

# **❤️ BUILT IN STRING METHODS❤️**

# CAPITALIZE FUNCTION

In [151]:
NAME.capitalize()
# first letter in capital

'Ujwal agrawal   '

In [152]:
str(AGE).capitalize()

'21'

# UPPER FUNCTION

In [153]:
NAME.upper()

'UJWAL AGRAWAL   '

# LOWER FUNCTION

In [154]:
NAME.lower()

'ujwal agrawal   '

# TITTLE FUNCTION

In [155]:
NAME.title()

'Ujwal Agrawal   '

# SWAPCASE FUNCTION

In [156]:
NAME.swapcase()

'ujwal agrawal   '

# SPLIT FUNCTION

In [157]:
NAME.split()

['UJWAL', 'AGRAWAL']

# STRIP FUNCTION

In [158]:
NAME

'UJWAL AGRAWAL   '

In [209]:
NAME.strip()

'UJWAL AGRAWAL'

# LSTRIP FUNCTION

In [160]:
TEXT="#####NAGESH"
TEXT.lstrip("#")

'NAGESH'

# CENTER FUNCTION

In [161]:
TEXT="NAGESH"
print(TEXT.center(30,"#"))

############NAGESH############

# COUNT METHOD

In [162]:
TEXT="MY NAME IS NAGESH"
TEXT.count("M")

2

In [163]:
TEXT="MY NAME IS NAGESH"
TEXT.count("M",11,25)# FIND "M" BETWEEN INDEX 11 AND 25 OF LETTER

0

# FIND FUNCTION

In [164]:
TEXT="MY NAME IS NAGESH"
TEXT.find("NAGESH")

11

# ENDSWITH FUNCTION

In [165]:
TEXT="MY NAME IS NAGESH"
TEXT.endswith("NAGESH")

True

In [166]:
TEXT.endswith("NAME")

False

# EXPANDTABS FUNCTION

In [167]:
TEXT="E\X\PANDIT"
TEXT.expandtabs()

<>:1: SyntaxWarning: invalid escape sequence '\X'
<>:1: SyntaxWarning: invalid escape sequence '\X'
C:\Users\Nagesh Agrawal\AppData\Local\Temp\ipykernel_13916\1142587122.py:1: SyntaxWarning: invalid escape sequence '\X'
  TEXT="E\X\PANDIT"

'E\\X\\PANDIT'

# INDEX FUNCTION

In [168]:
TEXT="MY NAME IS NAGESH"
TEXT.index("N")

3

In [169]:
TEXT="MY NAME IS NAGESH"
TEXT.index("N",4)

11

# ISALNUM FUNCTION

In [170]:
TEXT="123NAGESH"
TEXT.isalnum()

True

In [171]:
TEXT.isupper()

True

# ISALPHA FUNCTION

In [172]:
TEXT="NAGESH"
TEXT.isalpha()

True

# ISLOWER FUNCTION

In [173]:
TEXT="ujwal"
TEXT.islower()

True

# JOIN FUNCTION

In [174]:
TEXT={"UJWAL","NAGESH"}
SEP="$$"
SEP.join(TEXT)

'UJWAL$$NAGESH'

# REPLACE FUNCTION

In [175]:
TEXT="MY NAME IS NAGESH"
TEXT.replace("NAGESH","UJWAL")

'MY NAME IS UJWAL'

In [176]:
TEXT="ONE FISH,TWO FISH,THREE FISH"
TEXT.replace("FISH","CAT",2)

'ONE CAT,TWO CAT,THREE FISH'

# RFIND FUNCTION

In [177]:
# LAST OCCURENCE OF WORD
TEXT="5 LITTLE DUCK WENT OUT ONE DAY OVER THE HILL AND FAR AWAY,MOTHER DUCK SAYS QUACK, QUACK, QUACK ONLY FOUR LITTLE DUCK CAME BACK"
TEXT.rfind("QUACK")

89

# ISDECIAMAL FUNCTION

In [178]:
TEXT="37"
TEXT.isdecimal()

True

# ABS FUNCTION

In [179]:
# RETURNS ABSOLUTE VALUE OF A NUMBER [NEGATIVE RETURNS AS POSITIVE]
abs(-5)

5

# ALL FUNCTION

In [180]:
# ALL FUNCTION RETURNS TRUE IF ALL ELEMENTS OF ITERABLE ARE TRUE
all([True,1])

True

In [181]:
all([True,1,0])

False

# ANY FUNCTION

In [182]:
# ANY FUNCTION RETURNS TRUE IF ANY ELEMENTS OF ITERABLE IS TRUE
any([True,1,0])

True

In [183]:
any([0,False])

False

# BOOL FUNCTION

In [184]:
bool(1)# Convert a value to a Boolean

True

# DIVMOD FUNCTION

In [212]:
# IT RETURNS Quotient & remainder
divmod(10,3)[0]# Quotient
divmod(10,3)[1]# Remainder
# IT RETURNS Quotient & remainder

1

# FLOAT FUNCTION

In [186]:
# USE TO DO CONVERSION TO FLOAT
float("99.9")

99.9

# INT FUNCTION

In [187]:
int("123")

123

# STR FUNCTION

In [188]:
str(123)

'123'

# POW FUNCTION

In [189]:
# EXPONENTIATION
pow(2,3)

8

# ROUND FUNCTION

In [190]:
# ROUNDING
round(1.42721,2)

1.43

# SUM FUNCTION

In [191]:
sum([1,2,3,4,5,6,7,8])

36

# LIST FUNCTION

In [192]:
VECTOR: list[float]=[1,2,3,4,5,6]
print(VECTOR)

[1, 2, 3, 4, 5, 6]

In [193]:
type(VECTOR)

list

In [194]:
list("ABC")

['A', 'B', 'C']

In [195]:
list("123")

['1', '2', '3']

In [196]:
list((1,2,3,4))

[1, 2, 3, 4]

In [197]:
list(("UJAWAL"," AGRAWAL"))

['UJAWAL', ' AGRAWAL']

In [198]:
T=(1,2,3,4,5,6,7,8,9)
print(list(T))
print(T)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [199]:
S={1,2,3,4,5,6,7,8,9,9}
print(list(S))
print(S)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [200]:
[1,2,3,4,5,6,7]+[1,2,4,5,66,7]

[1, 2, 3, 4, 5, 6, 7, 1, 2, 4, 5, 66, 7]

# TUPLE FUNCTION

In [201]:
tuple("ABC")

('A', 'B', 'C')

In [202]:
tuple("123")

('1', '2', '3')

In [203]:
tuple([1,2,3,4])

(1, 2, 3, 4)

In [204]:
L=[1,2,3,4,5,6,7,8,9]
print(L)
print(tuple(L))

[1, 2, 3, 4, 5, 6, 7, 8, 9]
(1, 2, 3, 4, 5, 6, 7, 8, 9)

# DICT FUNCTION

In [205]:
dict(a=1,b=2,c=3)

{'a': 1, 'b': 2, 'c': 3}

# COLLABLE FUNCTION

In [206]:
def my_func():
    print("Hello")

print(callable(my_func))   # True
print(callable(42))        # False

True
False

# STR , REPR , ASCII FUNCTION

| Function | Purpose             | Handles Non-ASCII     | Output Style           |
|----------|---------------------|------------------------|-------------------------|
| str()    | Human-readable      | Keeps original chars   | Friendly                |
| repr()   | Developer-friendly  | Keeps original chars   | Detailed / debug view  |
| ascii()  | ASCII-only safe view| Escapes non-ASCII      | Uses \uXXXX or \xXX     |

In [207]:
s = "Héllo"  # 

print(str(s))     # Héllo
print(repr(s))    # 'Héllo'
print(ascii(s))   # 'H\u00e9llo'

Héllo
'Héllo'
'H\xe9llo'