# **FUNCTIONS  USED ON TUPLE**

In [3]:
T=(1,2,3,4,5,6,7,8,9,0)

In [8]:
# COUNT FUNCTION:
T.count(9)

1

In [9]:
# INDEX FUNCTION:
T.index(0)

9

---
---
---
---
---
---
---

In [18]:
# LIST FUNCTION:
list(T)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

In [19]:
T

(1, 2, 3, 4, 5, 6, 7, 8, 9, 0)

In [11]:
# SORTED FUNCTION:
sorted(T)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
# LENGTH FUNCTION:
len(T)

10

In [5]:
# MIN FUNCTION:
min(T)

0

In [6]:
# MAX FUNCTION:
max(T)

9

In [7]:
# SUM FUNCTION:
sum(T)

45