In [55]:

import numpy as np
ARR=np.array([31,32,33,34,35,36,37,38,39,40])

In [56]:
L=[("A",1),("B",2),("C",3),("D",4),("E",5)]
DIC=dict(L)
DIC

{'A': 1, 'B': 2, 'C': 3, 'D': 4, 'E': 5}

In [57]:
L2=[1,2,3,4,5]
DIC2=dict(enumerate(L2))
DIC2

{0: 1, 1: 2, 2: 3, 3: 4, 4: 5}

In [58]:
L3=["A","B","C","D","E"]# KEYS
L4=[1,2,3,4,5,6]# VALUES
DIC3=dict(zip(L3,L4))
DIC3

{'A': 1, 'B': 2, 'C': 3, 'D': 4, 'E': 5}

In [59]:
S1={"A","B","C","D","E"}
S2={1,2,3,4,5,6}
DIC4=dict(zip(S1,S2))
DIC4

{'B': 1, 'D': 2, 'C': 3, 'E': 4, 'A': 5}

In [60]:
import pandas as pd
DIC5={"NAMES":["NAGESH","UJWAL","MODI"],
     "AGE":[22,22,58]}
DF=pd.DataFrame(DIC5)
DF

    NAMES  AGE
0  NAGESH   22
1   UJWAL   22
2    MODI   58

In [61]:
VALUES=[["UJWAL",22,300000],
        ["NAGESH",22,300000],
        ["MODI",58,10000000000000]]
import pandas as pd
DF2=pd.DataFrame(VALUES,columns=["names","age","salary"])
DF2

    names  age          salary
0   UJWAL   22          300000
1  NAGESH   22          300000
2    MODI   58  10000000000000

In [64]:
DIC6=DF2.to_dict("list")
DIC6

{'names': ['UJWAL', 'NAGESH', 'MODI'],
 'age': [22, 22, 58],
 'salary': [300000, 300000, 10000000000000]}