In [161]:
text="i am ujwal"

In [162]:
number=5

In [163]:
print(text)

i am ujwal

In [164]:
print(number)

5

In [165]:
print("ujwal","agrawal")

ujwal agrawal

In [166]:
print("ujwal","agrawal",sep=",")

ujwal,agrawal

In [167]:
name="Nagesh Agrawal"
age=21
percentage=70.00
t_f=True
list=[1,2,3,4,5,6,7,8,9,10]
tuple1=(1,2,3,4,5,6,7,8,9,10)
dictionary={"a":[1,2,3,4,5,6,7,8,9,10],
            "b":(11,12,13,14,15,16,17,18,19,20),
            "c":{"a":["apple","ball","cat"]}}

In [168]:
type(name)

str

In [169]:
type(age)

int

In [170]:
type(percentage)

float

In [171]:
type(list)

list

In [172]:
type(tuple1)

tuple

In [173]:
type(dictionary)

dict

In [174]:
type(t_f)

bool

In [175]:
text.capitalize()

'I am ujwal'

In [176]:
text.lower()

'i am ujwal'

In [177]:
text.upper()

'I AM UJWAL'

In [178]:
text.swapcase()

'I AM UJWAL'

In [179]:
text.title()

'I Am Ujwal'

In [180]:
text.split()

['i', 'am', 'ujwal']

In [181]:
text1="one fish , two fish, three fish , four fish"
text1.replace("fish","cat",2)

'one cat , two cat, three fish , four fish'

In [182]:
text.replace("ujwal","")

'i am '

In [183]:
text.count("a")

2

In [184]:
len(text)

10

In [185]:
# general codes:
n1=5
n1*5

25

In [186]:
text3="ujwal"
print(text3+" "+"Agrawal")

ujwal Agrawal

In [187]:
# data structure in python list ,tuple,and dictionary:

In [188]:
list=[1,2,3,"python"]

In [189]:
tuple1=(1,2,3,"python")

In [190]:
dictionary={"name":"Ujwal",
            "age":21}

In [191]:
set={1,2,3,3,3,"python"}

In [192]:
set

{1, 2, 3, 'python'}

In [193]:
# functions on list:
'''
append
extend
insert
remove
pop
clear
index
count
sort 
reverse
copy
len
max
min
'''

'\nappend\nextend\ninsert\nremove\npop\nclear\nindex\ncount\nsort \nreverse\ncopy\nlen\nmax\nmin\n'

In [194]:
list.append(3)
list

[1, 2, 3, 'python', 3]

In [195]:
list.extend([1,2,3])
list

[1, 2, 3, 'python', 3, 1, 2, 3]

In [196]:
list.insert(0,6)

In [197]:
list

[6, 1, 2, 3, 'python', 3, 1, 2, 3]

In [198]:
list.remove(1)

In [199]:
list

[6, 2, 3, 'python', 3, 1, 2, 3]

In [200]:
list.pop()
list

[6, 2, 3, 'python', 3, 1, 2]

In [201]:
list.clear()

In [202]:
list=[1,2,3,"python"]

In [203]:
list.index("python")

3

In [204]:
list.count(1)

1

In [205]:
list.remove("python")

In [206]:
list.sort(reverse=True)

In [207]:
list

[3, 2, 1]

In [208]:
list.reverse()

In [209]:
list

[1, 2, 3]

In [210]:
list2=list.copy()

In [211]:
# functions that are used in tuple:
'''
len
max
min
sum
count
index
sorted
tuple
'''

'\nlen\nmax\nmin\nsum\ncount\nindex\nsorted\ntuple\n'

In [212]:
# function that are used in dictionary:
'''
get()
keys()
values()
items()
pop()
popitem()
update()
setdefault()
clear()
copy()
fromkeys()
'''

'\nget()\nkeys()\nvalues()\nitems()\npop()\npopitem()\nupdate()\nsetdefault()\nclear()\ncopy()\nfromkeys()\n'

In [213]:
dict1=dictionary.copy()

In [214]:
dict1.get("name")

'Ujwal'

In [215]:
dict1.keys()

dict_keys(['name', 'age'])

In [216]:
dict1.values()

dict_values(['Ujwal', 21])

In [217]:
dict1.items()

dict_items([('name', 'Ujwal'), ('age', 21)])

In [218]:
dict1.pop("age")

21

In [219]:
dict1

{'name': 'Ujwal'}

In [220]:
dict1.popitem()
dict1

{}

In [221]:
dict1=dictionary.copy()

In [222]:
dict1.setdefault("c",3)

3

In [223]:
dict1

{'name': 'Ujwal', 'age': 21, 'c': 3}

In [225]:
# data type comversion:
# list to tuple:
list1=list.copy()
tuple1=tuple(list)

TypeError: 'tuple' object is not callable