# **DATA LOADING USING PANDA**


---

# **DATA LOADING USING PANDA**

Pandas is a popular Python library to load, handle, and explore data easily.

## 1. **Import Pandas**

```python
import pandas as pd
```

---

## 2. **Loading Different Types of Files**

| File Type | Function | Example |
|:---|:---|:---|
| CSV | `read_csv()` | `pd.read_csv('file.csv')` |
| Excel | `read_excel()` | `pd.read_excel('file.xlsx')` |
| JSON | `read_json()` | `pd.read_json('file.json')` |
| SQL Database | `read_sql(query, connection)` | `pd.read_sql('SELECT * FROM table', connection)` |
| Text (Fixed Width) | `read_fwf()` | `pd.read_fwf('file.txt')` |
| HTML | `read_html()` | `pd.read_html('url_or_file.html')` |

---

## 3. **Common Parameters in Loading**

- `sep=','` → Separator (for CSVs, sometimes it's `\t` for tabs)
- `header=0` → Row number to use as column names
- `index_col=0` → Set which column becomes the index
- `usecols=['col1', 'col2']` → Load only selected columns
- `nrows=100` → Load only the first 100 rows


---

## 6. **Specifying Data Types While Loading**

Sometimes, you want to directly load columns as specific types:

```python
data = pd.read_csv('file.csv', dtype={'Age': int, 'Salary': float})
```

---

## 7. **Loading Large Files in Chunks**

If the file is huge, load it piece-by-piece:

```python
chunk = pd.read_csv('file.csv', chunksize=5000)

for part in chunk:
    print(part.shape)
```

---

In [5]:
import pandas as pd

A module that was compiled using NumPy 1.x cannot be run in
NumPy 2.2.4 as it may crash. To support both 1.x and 2.x
versions of NumPy, modules must be compiled with NumPy 2.0.
Some module may need to rebuild instead e.g. with 'pybind11>=2.12'.

If you are a user of the module, the easiest solution will be to
downgrade to 'numpy<2' or try to upgrade the affected module.
We expect that some modules will need time to support NumPy 2.

Traceback (most recent call last):  File "<frozen runpy>", line 198, in _run_module_as_main
  File "<frozen runpy>", line 88, in _run_code
  File "c:\Users\Nagesh Agrawal\anaconda3\Lib\site-packages\ipykernel_launcher.py", line 17, in <module>
    app.launch_new_instance()
  File "c:\Users\Nagesh Agrawal\anaconda3\Lib\site-packages\traitlets\config\application.py", line 1075, in launch_instance
    app.start()
  File "c:\Users\Nagesh Agrawal\anaconda3\Lib\site-packages\ipykernel\kernelapp.py", line 701, in start
    self.io_loop.start()
  File "c:\Users\Nagesh Agrawal\anaconda3\Lib\site-packages\tornado\platform\asyncio.py", line 205, in start
    self.asyncio_loop.run_forever()
  File "c:\Users\Nagesh Agrawal\anaconda3\Lib\asyncio\windows_events.py", line 322, in run_forever
    super().run_forever()
  File "c:\Users\Nagesh Agrawal\anaconda3\Lib\asyncio\base_events.py", line 641, in run_forever
    self._run_once()
  File "c:\Users\Nagesh Agrawal\anaconda3\Lib\asyncio\base_events.py", line 1986, in _run_once
    handle._run()
  File "c:\Users\Nagesh Agrawal\anaconda3\Lib\asyncio\events.py", line 88, in _run
    self._context.run(self._callback, *self._args)
  File "c:\Users\Nagesh Agrawal\anaconda3\Lib\site-packages\ipykernel\kernelbase.py", line 534, in dispatch_queue
    await self.process_one()
  File "c:\Users\Nagesh Agrawal\anaconda3\Lib\site-packages\ipykernel\kernelbase.py", line 523, in process_one
    await dispatch(*args)
  File "c:\Users\Nagesh Agrawal\anaconda3\Lib\site-packages\ipykernel\kernelbase.py", line 429, in dispatch_shell
    await result
  File "c:\Users\Nagesh Agrawal\anaconda3\Lib\site-packages\ipykernel\kernelbase.py", line 767, in execute_request
    reply_content = await reply_content
  File "c:\Users\Nagesh Agrawal\anaconda3\Lib\site-packages\ipykernel\ipkernel.py", line 429, in do_execute
    res = shell.run_cell(
  File "c:\Users\Nagesh Agrawal\anaconda3\Lib\site-packages\ipykernel\zmqshell.py", line 549, in run_cell
    return super().run_cell(*args, **kwargs)
  File "c:\Users\Nagesh Agrawal\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3075, in run_cell
    result = self._run_cell(
  File "c:\Users\Nagesh Agrawal\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3130, in _run_cell
    result = runner(coro)
  File "c:\Users\Nagesh Agrawal\anaconda3\Lib\site-packages\IPython\core\async_helpers.py", line 128, in _pseudo_sync_runner
    coro.send(None)
  File "c:\Users\Nagesh Agrawal\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3334, in run_cell_async
    has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
  File "c:\Users\Nagesh Agrawal\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3517, in run_ast_nodes
    if await self.run_code(code, result, async_=asy):
  File "c:\Users\Nagesh Agrawal\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3577, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\Nagesh Agrawal\AppData\Local\Temp\ipykernel_28112\4080736814.py", line 1, in <module>
    import pandas as pd
  File "c:\Users\Nagesh Agrawal\anaconda3\Lib\site-packages\pandas\__init__.py", line 62, in <module>
    from pandas.core.api import (
  File "c:\Users\Nagesh Agrawal\anaconda3\Lib\site-packages\pandas\core\api.py", line 1, in <module>
    from pandas._libs import (
  File "c:\Users\Nagesh Agrawal\anaconda3\Lib\site-packages\pandas\_libs\__init__.py", line 17, in <module>
    import pandas._libs.pandas_datetime  # noqa: F401 # isort: skip # type: ignore[reportUnusedImport]

ImportError:
A module that was compiled using NumPy 1.x cannot be run in
NumPy 2.2.4 as it may crash. To support both 1.x and 2.x
versions of NumPy, modules must be compiled with NumPy 2.0.
Some module may need to rebuild instead e.g. with 'pybind11>=2.12'.

If you are a user of the module, the easiest solution will be to
downgrade to 'numpy<2' or try to upgrade the affected module.
We expect that some modules will need time to support NumPy 2.

ImportError: numpy.core.multiarray failed to import

In [ ]:
# lOADING CSV FILE:
DF=pd.read_csv(r"C:\Users\Nagesh Agrawal\OneDrive\Desktop\PANDAS\z_DATA\Cars.csv")
DF

     HP        MPG  VOL          SP         WT
0    49  53.700681   89  104.185353  28.762059
1    55  50.013401   92  105.461264  30.466833
2    55  50.013401   92  105.461264  30.193597
3    70  45.696322   92  113.461264  30.632114
4    53  50.504232   92  104.461264  29.889149
..  ...        ...  ...         ...        ...
76  322  36.900000   50  169.598513  16.132947
77  238  19.197888  115  150.576579  37.923113
78  263  34.000000   50  151.598513  15.769625
79  295  19.833733  119  167.944460  39.423099
80  236  12.101263  107  139.840817  34.948615

[81 rows x 5 columns]

In [ ]:
! pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\nagesh agrawal\anaconda3\lib\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in c:\users\nagesh agrawal\anaconda3\lib\site-packages (from openpyxl) (1.1.0)

In [ ]:
# LOADING EXCEL FILE:
DF2=pd.read_excel(r"C:\Users\Nagesh Agrawal\OneDrive\Desktop\PANDAS\z_DATA\Sales Data Set for Dashboard.xlsx")
DF2

NameError: name 'pd' is not defined